.game-controls {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: white;
  cursor: pointer;

  .control {
    font-size: 1rem;
    max-width: 200px;
    border-radius: 15px;
  }
  .control-selected {
    background-color: #f9cd0b;
  }
}
